<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-input type="text" class="form-control" placeholder="name" [(ngModel)]="userData.name" name="name">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" class="form-control" placeholder="email" [(ngModel)]="userData.email" name="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" class="form-control" placeholder="password" [(ngModel)]="userData.password"
        name="password"></ion-input>
    </ion-item>

    <ion-button shape="round" size="default" expand="block" color="primary" (click)="register()">
      Login
    </ion-button>
  </form>

</ion-content>