<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-button class="ion-align-items-center" size="small" expand="block" fill="clear" routerLink="/login">
    Login
  </ion-button>
  <ion-item class="ion-text-center">
      <ion-label>OR</ion-label>
    </ion-item>
  <ion-button class="ion-align-items-center" size="small" expand="block" fill="clear" routerLink="/register">
    Register
  </ion-button>
</ion-content>