<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-text class="ion-padding" color="default" class="ion-text-center">
    <p>Welcome To simple ionic chat app. You can make a chat room and start chatting with other user.</p>
  </ion-text>
  <ion-button  size="small" expand="block" fill="clear" routerLink="/login">
    Login
  </ion-button>
  <ion-text color="default"  class="ion-text-center">
    <p>OR</p>
  </ion-text>
  <ion-button  size="small" expand="block" fill="clear" routerLink="/register">
    Register
  </ion-button>
</ion-content>