.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.otherUserMessage {
    background-color: var(--ion-color-tertiary);
    color: white;
}

.currentUserMessage {
    background-color: var(--ion-color-secondary);
    color: white;
}

.time {
    float: right;
    font-size: small;
    color: #dfdfdf;
}

.newMsgInput {
    width: 100%;
    border: solid 1px var(--ion-color-medium);
    border-radius: 10px;
    background: white;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.newMsgButton {
    --padding-start: 0.5em ;
    --padding-end: 0.5em ;
}