<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{room}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of msg">
      <ion-col size="9" *ngIf="user !==message.sender.name" class="message otherUserMessage">
        <b> {{ message.sender.name }} </b> <br>
        <span> {{ message.content }} </span>
        <div class="time" class="ion-text-right">
          <br> {{message.created_at | date:'short' }}
        </div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="user ===message.sender.name" class="message currentUserMessage" (click)="presentActionSheet(message.id)">
        <b> {{ message.sender.name }} </b> <br>
        <span> {{ message.content }} </span>
        <div class="time" class="ion-text-right">
          <br> {{message.created_at | date:'short' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-no-padding ion-align-items-center">
      <ion-col size="9">
        <textarea maxRows="3" autosize [(ngModel)]="newMsg" class="newMsgInput"></textarea>
      </ion-col>
      <ion-col>
        <ion-button size="3" expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="newMsgButton"
          (click)="sendMessage()">
          <ion-icon slot="icon-only" name="ios-send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>