<ion-header>
  <ion-toolbar color="primary">
    <ion-button expand="block" fill="clear" color="light" slot="start" (click)="logOut()" routerDirection="backward">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
    <ion-title>MyChat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="friendlist">
      <ion-icon name="people"></ion-icon>
      <ion-label>Friend List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chatlist">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat Room</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>